
.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.color{
    color: #E95A08;
}
.color2{
  color: #8987A1;
}
.color3{
  color: #252432;
}
.color4{
  background-color: #E95A08; 
}
.color5{
  color: #ffffff;
}
.items{
  text-align: center;
}
.sizing{
  justify-content: space-around;
  
}
